/* Landing */

.title{
  font-weight: 800;
  text-align: center;
  color: indigo !important;
}
 .p{
  color: rgb(22, 21, 21);
  color: rgb(240, 240, 240);
  font-weight: bolder;
}
.subheadings{
  color: #fff;
}
.landing-page {
    place-content: center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(23, 163, 144, 0.7), rgba(230, 170, 114, 0.7)), url('/donation0.png');    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .content{
    opacity: 99 !important;
    color: orange;
  }

  .butons{
    place-content: center !important;
    padding: 25px;
    align-items: center;
  }
  .getStarted:hover{
    transition: 0.4s;
    scale: 1.09;
    font-weight: bolder;
    background: linear-gradient(to right, rgb(0, 174, 255),black 80%) !important; 
  }
  .landing-page svg{
    color: black;
  }
  .getStarted{
    background: linear-gradient(to right, rgb(0, 132, 255) 70%,black ) !important; 
 
  }