.recipientDash{
    width: 100dvw !important;
    height: 100dvh;
    margin: 0%;
    /* background-color: rgb(215, 223, 250); */
}
.info-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100%;
  }

