/* reports */

.adminReportBox{
    min-height: 100dvh !important;
    max-height: max-content;
    width: 100dvw !important;
}

/* .adminReportBox .reports{
    height: fit-content;
} */
#myChart{
    height: 50dvh !important;
    min-height: fit-content ;
    width: 50dvw !important;
    /* background-color: white; */
}