.reportBox{
    min-height: 100dvh;
     display: flex;
     flex-wrap: wrap;
      place-content: center !important;
      text-align: center;
  }
   
  .reportBox .chart{
    padding: 20px 0px 0px 20px;
    margin-bottom: 20px;
    width: 40dvw;
  }
  
  
  
  